@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');


body{
	margin:0;
}

header{
	background: black;
	color: white;
    height:60px;
    width: 100vw;

}

header h1{
 display:inline; 
}

header h2{
 display:inline;
}

header h2 a{
	text-decoration: none;
	font-family: 'Roboto', sans-serif ;
	color: white;
	padding: 20px 8px 8px 8px;

}

.aa{
	text-decoration: none;
	font-family: 'Roboto', sans-serif ;
	color: white;
	padding: 20px 8px 8px 40px;
}
.itachi{

	 background-image: url("itachi.jpg") ; 
	 width:100vw;
	 height: 100vh;
	 float: left;
	 /*background-size: cover; */
	 background-repeat: no-repeat;
	 
	
}

.name{
	padding: 10% 10% 0% 5%;
	margin:0;
	color: yellow;
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
}

.ddd{
	background-color: red;
	width:100vw;
	height:5px;
}

.aa:hover {
	background-color: red;
	padding: 20px 8px 15px 40px;
}
.aaa:hover {
	background-color: red;
	padding: 20px 8px 15px 8px;
}
#cpid{
	background-color: red;
	padding: 20px 8px 15px 8px;
}
#hid{
	background-color: red;
	padding: 20px 8px 15px 40px;
}





.chan{
	margin:0;
	padding:0;
}

.uc{
	background-image: url("UC.png");
	background-size: cover;
	width:600px;
	height: 300px;
	margin:0;
	padding: 0;
}

.cp{
	 background-image: url("wd.jpg");
	 width:100vw;
	 height: 100vh;
	 float: left;
	 /*background-size: cover; */
	 background-repeat: no-repeat;
}

.iii{
	height:50px;
	width: 50px;
	padding:7% 0% 0% 6%;
	margin:0;
}
.hr{
	position: absolute;
	left: 159px;
	top: 160px;
	
}
.ll{
	
	text-decoration: none;
	color: red;
	font-weight: 900;
	font-size: 20px;
	margin:0;
	font-family: 'Roboto', sans-serif ;
 }
.cc{
	position: absolute;
	left: 215px;
	top: 250px;
}
#cci{
	height: 30px;
	width: 100px;
	margin:0; padding: 0;
	position: absolute;
	left: 95px;
	top: 275px;
}

.cf{
	position: absolute;
	left: 199px;
	top: 330px;
}
#cfi{
	height: 30px;
	width: 100px;
	margin:0; padding: 0;
	position: absolute;
	left: 94px;
	top: 360px;
}
