@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');


body{
	margin:0;
	background-color: black;
}

.tbody{
	margin:0;
	background-color: white;
}

header{
	background: black;
	color: white;
    height:60px;
    width: 1600px;

}

header h1{
 display:inline; 
}

header h2{
 display:inline;
}

 a{
	text-decoration: none;
	font-family: 'Roboto', sans-serif ;
	color: white;
	padding: 20px 8px 8px 8px;

}

.aa{
	text-decoration: none;
	font-family: 'Roboto', sans-serif ;
	color: white;
	padding: 20px 8px 8px 40px;
}
.itachi{

	 background-image: url("itachi.jpg") ; 
	 width:1600px;
	 height: 900px;
	 float: left;
	 /*background-size: cover; */
	 background-repeat: no-repeat;
	 
	
}

.name{
	padding: 10% 10% 0% 5%;
	margin:0;
	color: yellow;
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
}

.ddd{
	background-color: red;
	width:1600px;
	height:5px;
}

.aa:hover {
	background-color: red;
	padding: 20px 8px 15px 40px;
}
.aaa:hover {
	background-color: red;
	padding: 20px 8px 15px 8px;
}
#cpid{
	background-color: red;
	padding: 20px 8px 15px 8px;
}
#hid{
	background-color: red;
	padding: 20px 8px 15px 40px;
}

.chan{
	margin:0;
	padding:0;
}

.uc{
	background-image: url("UC.png");
	background-size: cover;
	width:600px;
	height: 300px;
	margin:0;
	padding: 0;
}

.cp{
	 background-image: url("wd.jpg");
	 width:1600px;
	 height: 900px;
	 float: left;
	 /*background-size: cover; */
	 background-repeat: no-repeat;
}

.iii{
	height:50px;
	width: 50px;
	padding:7% 0% 0% 6%;
	margin:0;
}



/*------------------------------------------------------------------------------------------------------------------------------------------*/
.button {
    position: relative;
    background-color: #400160;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #400160;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}




/*------------------------------------------------------------------------------------------------------------------------------------------*/
#cci{
	height: 30px;
	width: 100px;
	margin:0; padding: 0;
	position: absolute;
	left: 95px;
	top: 275px;
}
#cfi{
	height: 30px;
	width: 100px;
	margin:0; padding: 0;
	position: absolute;
	left: 94px;
	top: 360px;
}
#cf{
	position: absolute;
	left: 50px;
	top: 100px;
}
#cc{
	position: absolute;
	left: 50px;
	top: 200px;
}
#hr{
	position: absolute;
	left: 50px;
	top: 300px;
	
}

.github{
	height:50px;
	width:50px;
	margin:0;
	padding:0;
	position: absolute;
	top:2px;
	right:8px;
}

.github:hover {
	height:52px;
	width:52px;
	margin:0;
	padding:0;
	position: absolute;
	top:1px;
	right:7px;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------------------------------------------------*/
